.khan__buy-link {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  color: #2f81ed7a;
  transition: background-color 1s linear 0.5s;
}
